
@import './variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family:$primary-font;
    font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.active {
  color: white !important;
  border-bottom: 2px solid $secondary-color !important;
}


// @import '../components/Navbar/navbar'
@import './form';


@mixin button{
  background-color: $primary-color;
    color: white;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.3s;
    &:hover{
      background-color: $secondary-color;
    }
  }

.activate{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40rem;
  &__intro{
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }
  &__btn{
   @include button;

  }
}


